body {
    background: #F4EBE1;
    font-family: 'Comforter Brush', cursive;
font-family: 'Red Hat Display', sans-serif;
}

.page {
    width: 360px;
    height: 603px;
    left: 218px;
    top: 94px;
    background: #FFFFFF;
    box-shadow: 0px 4px 17px rgba(0, 0, 0, 0.05), 0px 4px 70px rgba(0, 0, 0, 0.13);
    border-radius: 10px;
    margin: auto;
    padding: 32px 24px ;
}

.random{
    margin-left: 33px;

}

h1{
    margin-bottom: 3px;
    font-size: 12px;
    font-family: arc;
    color: #604E3A;
}

h2{
margin-bottom: 16px;
font-size: 37px;
    color: #604E3A;
}

.song {
    display: flex;
    flex-flow: row nowrap;
    height: 50px;
    width: fit-content;
    margin: 15, 0;
}

.title {
    display: flex;
    flex-flow: column nowrap;
    width: fit-content;
    height: fit-content;
}

h3 {
    font-family: Archivo;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 17px;
    color: #604E3A;
}

h4 {
    font-family: Archivo;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 13px;
    color: #AA9379;
}


.note {
    width: 48px;
    height: 48px;
}

.add {
    width: 20px;
    height: 20px;
}

.more {
    width: 20px;
    height: 20px;
}